<h1>Acerca de Cideti:</h1>

<h3>Centro de Investigación y 
  Desarrollo de Tecnologías de la Información (CIDETI).</h3>

<p>La importancia del CIDETI es contar con un espacio adecuado para la investigación,
  el desarrollo y la transferencia de las tecnologías 
  de la información hacia el sector productivo, público o privado</p>

  <footer>
      <p>Av. Tecnológico # 2595, Col. Lagos del Country. C.P. 63175 Tepic, Nayarit. México. </p>
      Tel: (311) 211 94 00. 
      info@ittepic.edu.mx 
  </footer>

