header {
    background: rgb(0, 0, 0);

    .logo {
        border-radius: 10%;
       height: inherit;
        width: inherit;

    }

    nav {
        justify-self: right;
        ul {
            list-style-type: none;
            margin: 0; padding: 0;
            li {
                float: left;
                a {
                    padding: 1.5em;
                    text-transform: uppercase;
                    font-size: .8em;
                    font-weight: bold;
                    &:hover {
                        background: rgb(89, 89, 90);
                    }
                }
            }
        }
    }
}